{% extends "base.html.twig" %}

{% block body %}
    <h1>Feeds</h1>
    <ul>
        {% for feed in feeds %}
            <div class="feed" data-id="{{ feed.id }}">
                <hr />
                <div>{{ feed.text }}</div>
                <div>{{ feed.created_at }}</div>
            </div
        {% endfor %}
    </ul>
{% endblock %}