{% extends "base.html.twig" %}

{% block body %}
    <h1>Task Pilulka Twitter loader</h1>
    <ul>
        <li>
            <a href="{{ path('api_json_page') }}">JSON page</a>
        </li>
        <li>
            <a href="{{ path('api_html_page') }}">HTML page</a>
        </li>
    </ul>
{% endblock %}